:root {
  --green-21: hsla(196, 25%, 21%, 1);
  --green-34: hsla(183, 21%, 34%, 1);
  --green-52: hsla(178, 13%, 52%, 1);
  --green-88: hsla(174, 47%, 88%, 1);
  --red-73: hsla(358, 73%, 73%, 1);
  --green-63: hsla(126, 59%, 63%, 1);
  --yellow-69: hsla(42, 92%, 69%, 1);
  --yellow-43: hsla(28, 61%, 43%, 1);
  --purple-discord: hsla(239, 86%, 65%, 1);
  --black-23: hsla(218, 7%, 23%, 1);
  --black-23-opaque: hsla(218, 7%, 23%, .7);
}

:root {
  --primary-background: var(--black-23);
  --primary-text: var(--green-52);

  --secondary-background: var(--green-34);
  --secondary-text: var(--green-88);

  --positive-text: var(--green-63);
  --negative-text: var(--red-73);

  --cap-background: var(--yellow-69);
  --cap-icon: var(--yellow-43);

  --discord: var(--purple-discord);

  --border-radius: 8px;
  --overlay-opacity: 80%;
  --padding: 15px;
  --small-padding: 10px;
  --gap: 10px;
  --small-gap: 5px;
}
